!!!
%html
  %head
    %title Tick Tock
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
  %body{style: "margin-top: 40px;"}
    .container
      = yield
